<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Decision history</h1>
    <p class="lead"></p>
  </div>
</div>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Tree Count</th>
      <th scope="col">Done</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="model && model.length > 0">
      <tr *ngFor="let item of model">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.categoryName }}</td>
        <td>{{ item.treeNodes?.length }}</td>
        <td>{{ item.isDone ? 'Yes' : 'No' }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            [routerLink]="'decision-tree/' + item.id"
          >
            View
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
