<div class="row">
  <div class="col-md-12" *ngIf="model && model !== undefined">
    <div class="alert success-alert" role="alert">
      <h4 class="alert-heading m-0">Well done!</h4>
      <p>
        Decision based on your choose
      </p>
      <p><strong>Category:</strong> {{ model.categoryName }}</p>
      <p><strong>Notes:</strong> {{ model.suggestedNotes }}</p>
      <button
        type="button"
        class="btn btn-primary float-right"
        (click)="back()"
      >
        Back
      </button>
    </div>
    <div
      class="main-timeline2"
      *ngIf="model.treeNodes && model.treeNodes !== undefined"
    >
      <div class="timeline" *ngFor="let item of model.treeNodes">
        <span class="icon">
          <i class="fa fa-check" aria-hidden="true"></i>
        </span>
        <div class="timeline-content">
          <h3 class="title">{{ item.question }}</h3>
          <p class="description"></p>
        </div>
      </div>
    </div>
  </div>
</div>
