<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">Let's start</h4>
  <p class="description">
    We will help you to choose right path in programing
  </p>
</div>

<div
  class="alert alert-light"
  role="alert"
  *ngIf="categories && categories.length > 0"
>
  <h5 class="title">Choose your own adventure</h5>

  <ng-container *ngFor="let item of categories">
    <button
      type="button"
      class="btn btn-primary m-2"
      (click)="fetchTreeNodes(item.id)"
    >
      {{ item.name }}
    </button>
  </ng-container>
  <app-tree-wizard
    *ngIf="treeNodes"
    [model]="treeNodes"
    [categoryName]="categoryName"
  ></app-tree-wizard>
  <!-- <div class="alert alert-danger" role="alert" *ngIf="treeNodes === undefined">
    <p class="description">
      No Tree found!
    </p>
  </div> -->
</div>
